doctype html
html
  head
    meta(charset="UTF-8")
    title ページタイトル
  body
    .wrapper
      #header
        .menu
          a(href="#" alt="link"): img
      #container
        ul.item-list
          li.item text1
          li.item text2
          li.item text3

