Tag_Name-01
img
closing-tag/

tag-name#idname.class1.class_2.class-3



a: img
a:     img

ul
  li Item A
  li|Item B
  li| Item C

lv1.n1
  lv2.n1
    lv3.n1
    lv3.n2
  lv2.n2
    lv3.n3
    lv3.n4
lv1.n2

tag-with-noattr()
tag-with-attr(bar=baz)
tag-with-multiple-attrs( attr1 attr2=  attr3=val3 attr4=" val '4 " attr5=' "val5" ' )
tag-with-newline(
  attr1
  attr2=
  attr3=val3  
  attr4=" val '4 "
  attr5=' "val5" '
  )
